.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-slider-1 {
  min-height: 1110px;
  margin-bottom: 60px;
  width: 100%;
  height: auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-image-1 {
  width: 740px;
  height: 1110px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-image-2 {
  width: 740px;
  height: 1110px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-3 {
  width: 740px;
  height: 1110px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    min-height: 375px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 990px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 660px;
    height: 990px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    width: 660px;
    height: 990px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 780px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 780px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 780px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 480px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 480px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 480px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-slider-1 {
  min-height: 1110px;
  margin-bottom: 60px;
  width: 100%;
  height: auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-image-1 {
  width: 740px;
  height: 1110px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-image-2 {
  width: 740px;
  height: 1110px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    min-height: 375px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 660px;
    height: 990px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 660px;
    height: 990px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 780px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 780px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 320px;
    height: 480px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 480px;
  }
}